:root {
    /* vintage color scheme */
    --base: #EBE4D1;
    --bg-color: #FFFFFF;
    --border: #B4B4B3;
    --accent: #26577C;
    --cta: #E55604;

    /* yellow-blue color scheme
    --orange: #FFCC70;
    --yellow: #FFFADD;
    --blue: #8ECDDD;
    --navy: #22668D;
    */

    /* settings */

    --padd: 50px;
    --bor-rad-xl: 8px;
    --bor-rad-sm: 5px;
}